<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<title>Loja-Virtual</title>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<div class="jumbotron">
			<h2 th:text="#{logout.title}"></h2>
		</div>

		<div class=" mr-auto ml-auto col-6">
			<form action="#" th:action="@{/logout}"
				method="POST">
				<h4 class="text-center" th:text="#{logout.desc}"></h4>
				<button type="submit" class="btn btn-block" th:text="#{logout.logout}"></button>
			</form>
		</div>

	</div>

	<div th:replace="fragments/footer :: footer"></div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>