<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<title>Loja-Virtual</title>
</head>
<body>
	<div th:replace="/fragments/header :: header"></div>

	<div class="container">
		<div class="jumbotron">
			<h2 th:text="#{users.title}"></h2>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th th:text="#{field.name}"></th>
					<th th:text="#{field.email}"></th>
					<th th:text="#{field.username}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td th:text="${user.name}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.username}"></td>
				</tr>

			</tbody>
		</table>

	</div>

	<div th:replace="/fragments/footer :: footer"></div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>